<ion-content padding>
  <form id="formLogin" #form="ngForm">
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label color="primary" floating>Email</ion-label>
      <ion-input required type="text" [ngModel]="credentials.Email" name="Email" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" item-start></ion-icon>
      <ion-label color="primary" floating>Password</ion-label>
      <ion-input required type="password" [ngModel]="credentials.Password" name="Password" placeholder="Password" clearInput></ion-input>
    </ion-item>

    <button ion-button small type="button" (click)="signIn()">Login</button>
  </form>
</ion-content>
