<!--
  Generated template for the SurveyMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>surveyMap</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <button ion-item full (click)="done()">Select</button> -->
<div #map id="map_canvas"></div>
</ion-content>
