<ion-header>
  <ion-navbar>
    <ion-title>Survey List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let survey of surveys">
      <ion-item (tap)="openSurveyDetail(survey.id)">
        <!-- <ion-avatar item-start>
          <img src="img/slimer.png">
        </ion-avatar> -->
        <h2>{{survey.clientName}}</h2>
        <h3 *ngIf="survey.companyName">{{survey.companyName}}</h3>
        <p>{{survey.applicantAddress}}</p>
        <ion-note item-end>
          {{survey.receiptDate}}
        </ion-note>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="undo"></ion-icon>
          Return
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
