page-survey-input {


  .selectedSurvey{
    color:#488aff;
  }
  .circle {
      position: relative;
      top: 17px;
      left: 9px;
      width:20px;
      height:20px;
      background-color:#fff;
      border-radius: 50%;
      border: 2px solid #dee1e7;
    }
    .circle-selected {
      position: relative;
      top: 17px;
      left: 9px;
      width:20px;
      height:20px;
      background-color:#488aff;
      border-radius: 50%;
      border: 2px solid #dee1e7;


    }
    .surveyOuterDiv
			{
        overflow: hidden;
        border:2px solid #ecedef;
        margin: 10px;
        border-radius: 3px;
        height: 100%;
      }

			.surveyLeftDiv
			{
				background-color: #edeeef;
        color:#c4c8ce;
				height: 60px;
				width: 40px;
        float: left;
      }
			.surveyLeftDivSelected
			{
				height: 150px;
      }

			.surveyRightDiv
			{
        display: flex;
				color: #1d222c;
        height: auto;
        align-items: center;
        padding:15px 20px;
      }

      .surveyBtnKembali{
        border-width: 1px;
        border-style: solid;
        border-color: #99a1ab;
        color: #99a1ab;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-transform: none;
      }

      .surveyBtnSelanjutnya{
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: none;
        color: #fff;
        background-color:  #033364;
      }

      .surveyLabel{
        font-size: 15px;
        color: #566d84;
      }

      .upload{
        display: block;
        margin: 0 auto;
      }

      #map_canvas {
        height: 100%;
        width: 100%;
      }

      .icon-close-image{
        float:right;
      }

      .image-round{
        border-radius: 50%;
      }

}
