<ion-header>
  <ion-navbar>
    <ion-title>Nama Aplikan</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <h3 text-center padding>{{surveyTampil.name}}</h3>
  </ion-card>
  <ion-grid *ngIf="surveyTampil.type == 'select'">
    <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <div class="surveyOuterDiv" *ngFor="let itemData of surveyTampil.data" (click)="select(itemData)">
      <div [ngClass]="{'surveyLeftDiv': surveyTampil, 'surveyLeftDivSelected': (surveyTampil.value == itemData.label) && (isExt1 || isExt2 || isExt3)}">
        <div
          [ngClass]="{'circle-selected': surveyTampil.value == itemData.label,'circle': surveyTampil.value !== itemData.label}">
        </div>
      </div>
      <div class="surveyRightDiv">
        <ion-grid>
          <ion-row>
            <div>
              <span [ngClass]="{'selectedSurvey': surveyTampil.value == itemData.label}">{{itemData.label}}</span>
            </div>
          </ion-row>
          <ion-row>

              <div style="width: 100%" *ngIf="isExt1">
                  <div *ngIf="surveyTampil.value == itemData.label">
                    <ion-item no-padding>
                      <ion-textarea *ngIf="surveyTampil.ext1.type == 'textarea'" placeholder="{{surveyTampil.ext1.placeholder}}" [(ngModel)]="surveyTampil.ext1.value">
                      </ion-textarea>
                      <ion-input *ngIf="surveyTampil.ext1.type !== 'textarea'" placeholder="{{surveyTampil.ext1.placeholder}}" [(ngModel)]="surveyTampil.ext1.value"></ion-input>
                    </ion-item>
                  </div>
                </div>

                <div style="width: 100%" *ngIf="isExt2">
                  <div *ngIf="surveyTampil.value == itemData.label">
                    <ion-item no-padding >
                         <ion-textarea *ngIf="surveyTampil.ext2.type == 'textarea'" placeholder="{{surveyTampil.ext2.placeholder}}" [(ngModel)]="surveyTampil.ext2.value">
                      </ion-textarea>
                      <ion-input *ngIf="surveyTampil.ext2.type !== 'textarea'" placeholder="{{surveyTampil.ext2.placeholder}}" [(ngModel)]="surveyTampil.ext2.value"></ion-input>
                    </ion-item>
                  </div>
                </div>

                <div style="width: 100%" *ngIf="isExt3">
                  <div no-padding *ngIf="surveyTampil.value == itemData.label">
                    <ion-item>
                      <ion-textarea *ngIf="surveyTampil.ext3.type == 'textarea'" placeholder="{{surveyTampil.ext3.placeholder}}" [(ngModel)]="surveyTampil.ext3.value">
                      </ion-textarea>
                      <ion-input *ngIf="surveyTampil.ext3.type !== 'textarea'" placeholder="{{surveyTampil.ext3.placeholder}}" [(ngModel)]="surveyTampil.ext3.value"></ion-input>
                    </ion-item>
                  </div>
                </div>
          </ion-row>
        </ion-grid>



    </div>

    </div>

    </ion-grid>

  <ion-grid *ngIf="surveyTampil.type == 'multiselect'">
      <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
      <div class="surveyOuterDiv" *ngFor="let itemData of surveyTampil.data">

        <div (click)="multiselect(itemData)" [ngClass]="{'surveyLeftDiv': surveyTampil, 'surveyLeftDivSelected':  (surveyTampil.value.includes(itemData.label)) && (isExt1 || isExt2 || isExt3) && checkExtMultiselect(itemData)}">
          <div
            [ngClass]="{'circle-selected': (surveyTampil.value.includes(itemData.label)),'circle': (surveyTampil.value.includes(itemData.label)) !== itemData.label}">
          </div>
        </div>

        <div class="surveyRightDiv">
          <ion-grid>
            <ion-row>
              <div>
                <span [ngClass]="{'selectedSurvey': (surveyTampil.value.includes(itemData.label))}">{{itemData.label}}</span>
              </div>
            </ion-row>
            <ion-row>

                <div style="width: 100%" *ngIf="isExt1">
                    <div *ngIf="(surveyTampil.value.includes(itemData.label)) && checkExtMultiselect(itemData) && itemData.id == 101">
                      <ion-item no-padding>
                        <ion-textarea *ngIf="surveyTampil.ext1.type == 'textarea'" placeholder="{{surveyTampil.ext1.placeholder}}" [(ngModel)]="surveyTampil.ext1.value">
                        </ion-textarea>
                        <ion-input *ngIf="surveyTampil.ext1.type !== 'textarea'" placeholder="{{surveyTampil.ext1.placeholder}}" [(ngModel)]="surveyTampil.ext1.value"></ion-input>
                      </ion-item>
                    </div>
                  </div>

                  <div style="width: 100%" *ngIf="isExt2">
                    <div *ngIf="(surveyTampil.value.includes(itemData.label)) && checkExtMultiselect(itemData) && itemData.id == 102 ">
                      <ion-item no-padding >
                           <ion-textarea *ngIf="surveyTampil.ext2.type == 'textarea'" placeholder="{{surveyTampil.ext2.placeholder}}" [(ngModel)]="surveyTampil.ext2.value">
                        </ion-textarea>
                        <ion-input *ngIf="surveyTampil.ext2.type !== 'textarea'" placeholder="{{surveyTampil.ext2.placeholder}}" [(ngModel)]="surveyTampil.ext2.value"></ion-input>
                      </ion-item>
                    </div>
                  </div>

                  <div style="width: 100%" *ngIf="isExt3">
                    <div no-padding *ngIf="(surveyTampil.value.includes(itemData.label)) && checkExtMultiselect(itemData) && itemData.id == 103">
                      <ion-item>
                        <ion-textarea *ngIf="surveyTampil.ext3.type == 'textarea'" placeholder="{{surveyTampil.ext3.placeholder}}" [(ngModel)]="surveyTampil.ext3.value">
                        </ion-textarea>
                        <ion-input *ngIf="surveyTampil.ext3.type !== 'textarea'" placeholder="{{surveyTampil.ext3.placeholder}}" [(ngModel)]="surveyTampil.ext3.value"></ion-input>
                      </ion-item>
                    </div>
                  </div>
            </ion-row>
          </ion-grid>



      </div>

      </div>

      </ion-grid>

  <div *ngIf="surveyTampil.type == 'textarea'">
    <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <div class="surveyOuterDiv">
    <ion-item>
      <ion-textarea [(ngModel)]="surveyTampil.value" placeholder="{{surveyTampil.placeholder}}" rows="5"></ion-textarea>
    </ion-item>
  </div>
  </div>

  <div *ngIf="surveyTampil.type == 'text' || surveyTampil.type == 'number' || surveyTampil.type=='tel'">
    <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <div class="surveyOuterDiv">
      <ion-item>
        <ion-input [type]="surveyTampil.type" placeholder="{{surveyTampil.placeholder}}" [(ngModel)]="surveyTampil.value"></ion-input>
      </ion-item>
    </div>
  </div>


  <div *ngIf="surveyTampil.type == 'readOnlyText'">
    <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <div class="surveyOuterDiv">
      <ion-item>
        <ion-input type="text" disabled [(ngModel)]="surveyTampil.value"></ion-input>
      </ion-item>
    </div>
  </div>


  <!-- <div *ngIf="surveyTampil.type == 'textarea'">
    <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <ion-card>
      <ion-item>
        <ion-textarea [(ngModel)]="surveyTampil.value"></ion-textarea>
      </ion-item>
    </ion-card>
  </div> -->

  <!-- <div *ngIf="surveyTampil.type == 'text' || surveyTampil.type == 'number' || surveyTampil.type=='tel'">
    <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <ion-card>
      <ion-item>
        <ion-input [type]="surveyTampil.type" [(ngModel)]="surveyTampil.value"></ion-input>
      </ion-item>
    </ion-card>
  </div> -->


  <div *ngIf="surveyTampil.type == 'upload'">
    <img padding src="../../assets/imgs/addImage.png" width="100" height="100" alt="" class="upload"
      (click)="ambilGambar()">
    <div class="surveyOuterDiv">
        <ion-grid>
          <ion-row>
            <ion-col col-4 *ngFor="let image of surveyImage;let i = index">
              <ion-icon class="icon-close-image" name="close-circle" (click)="surveyRemoveImage(i)" end></ion-icon>
              <img class="image-round" height="100" width="100" *ngIf="image" src="{{image}}" (click)="showImage(i)">
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>

  <div *ngIf="surveyTampil.type == 'map'">
      <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <div class="surveyOuterDiv">
      <ion-grid>
      <h4>Latitude  : {{geolocationMaps.lat}}</h4>
      <h4>Longitude : {{geolocationMaps.lng}}</h4>
      <p>Alamat     : {{geolocationMaps.address}}</p>
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{geolocationMaps.lat}}%2c%20{{geolocationMaps.lng}}&zoom=12&size=400x400&key=AIzaSyD9SRw6P1z5T0CoiPIIuM17lh5urhKksXQ"  (click)="openMaps()">
    </ion-grid>
      </div>
  </div>

  <div *ngIf="surveyTampil.type == 'inputWithLabel'">
      <div padding text-wrap class="surveyLabel">{{surveyTampil.label}}</div>
    <div class="surveyOuterDiv">
      <ion-item>
        <ion-label *ngIf="surveyTampil.ext1.placeholder" color="primary" stacked>{{surveyTampil.ext1.placeholder}}
        </ion-label>
        <div item-end>
          <ion-label>{{surveyTampil.ext1.label}}</ion-label>
        </div>
        <ion-input type="text" [(ngModel)]="surveyTampil.ext1.value"></ion-input>
      </ion-item>

      <ion-item *ngIf="surveyTampil.ext2 !== null">
        <ion-label *ngIf="surveyTampil.ext2.placeholder" color="primary" stacked>{{surveyTampil.ext2.placeholder}}
        </ion-label>
        <div item-end>
          <ion-label>{{surveyTampil.ext2.label}}</ion-label>
        </div>
        <ion-input type="text" [(ngModel)]="surveyTampil.ext2.value"></ion-input>
      </ion-item>

    </div>
  </div>

  <ion-row>
    <ion-col>
      <button ion-button color="kembali" class="surveyBtnKembali" (click)="prev()"
        [disabled]="index.form <1 && index.field <1">Kembali</button>
    </ion-col>
    <ion-col>
      <button ion-button color="selanjutnya" class="surveyBtnSelanjutnya" (click)="next(surveyTampil)"
        style="float:right">Selanjutnya</button>
    </ion-col>
  </ion-row>
</ion-content>
